.container {
  width: 50vw;
  margin: auto;
}
.row {
  background: rgb(12, 167, 214);
  font-family: sans-serif;
  width: 50%;
  margin: 15px auto;
  padding: 10px;
}
.search-bar {
  display: flex;
  flex-direction: column;
}
.search-bar > input {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 5px;
  outline: none;
  border: none;
}
.search-bar > input:focus {
  border: none;
  outline: 2px solid rgb(12, 172, 92);
}
table {
  width: 100%;
}
table > * {
  width: 100%;
}
table > thead tr {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

tbody tr {
  width: 100%;
}
.stocked{
    color: #000;
    text-decoration: underline;
}
.not-stocked {
  color: #f91112;
}
